In [1]:
pwd

'C:\\Users\\Abhishek\\Desktop\\tomriddle04-UDACITY-ML-nanodegree-project-1-d2d7c1d'

In [2]:
cd C:\Users\Abhishek\Desktop\final01

C:\Users\Abhishek\Desktop\final01

In [3]:
#importing all the necessary functions and packages
import pandas as pd
import numpy as np
import json
import time
def filtering_the_data():
    while True:
        city=input(print('which city data you want out of chicago new york or washington\n'))
        city=city.lower()
        if city in cities:
            break
    month=input(print('enter the month name\n'))
    month=month.lower()
    day=input(print('enter the day of the week\n'))
    day=day.lower()
    return(city,month,day)

In [4]:
"""load_data fun here selecting the data of a city which is given by user as a input and changing
    1.datatype of Start Time column.
    2.datatype of month column.
    3.datatype of hour and day column also.
    4.returning the file of data.
    5.print the first few lines of dataset.
"""
def load_data(city,month,day):
    name=pd.read_csv(CITY_DATA[city])
    name['Start Time']=pd.to_datetime(name['Start Time'])
    name['month']=name['Start Time'].dt.month
    name['hour']=name['Start Time'].dt.hour
    name['day']=name['Start Time'].dt.weekday_name
    show_data=input(print("press yes if you want to see the first 5 rows of your dataset"))
    show_data=show_data.lower()
    i=5
    while(show_data=='yes'):
        print('\n First 5 lines of your dataset is \n')
        print(name.head(i))
        show_data=input(print("press yes if you want to see the first 5 rows of your dataset"))
        show_data=show_data.lower()
        i=i+5
    if month!='None':
        month=months.index(month)+1
    if day!='None':
        name=name[name['day']==day.title()] 
    return(name)

Popular times of travel
- find most common month
- find most common day of week
- find most common hour of day

In [ ]:
"""this fun find
   1.most_common_month.
   2.most_common_day_of_week.
   3.most_common_hour.
"""
def  popular_times_of_travel(name):
    most_common_month=name["month"].value_counts().idxmax()
    most_common_day_of_week=name["day"].value_counts().idxmax()
    most_common_hour_of_day=name["hour"].value_counts().idxmax()
    print('\n The most common month:',most_common_month)
    print('\n The most day of the week:',most_common_day_of_week)
    print('\n The most common hour:', most_common_hour_of_day)

Q.Popular stations and trip
- find most common start station
- find most common end station

In [ ]:
"""This fun find most_common_start station and most_common_end_station"""
def popular_station_trip(name):
    most_common_start_station=name['Start Station'].value_counts().idxmax()
    most_common_end_station=name['End Station'].value_counts().idxmax()
    #most_common_trip_from_start_to_end=name[['Start Station','End Station']].mode().loc[0]
    print('\nmost_common_start_station is :',most_common_start_station)
    print('\n most_common_end_station is :', most_common_end_station)
    #print("most commonly start and end station are :{},{}".format( most_common_trip_from_start_to_end[0],\
        #                                                           most_common_trip_from_start_to_end[1])

Q.Trip duration
- Find total travel time
- Find average travel time

In [ ]:
"""This fun find out total sum of trip duration and average of trip duration """
def trip_duration(name):
    total_travel_time=name['Trip Duration'].sum()
    avg_travel_time=name['Trip Duration'].mean()
    print('\n total_travel_time is :',total_travel_time)
    print('\n avg_travel_time is :',avg_travel_time)

Q.Find the answer of the following questions
- Counts of each user type
- Counts of each gender

In [ ]:
"""user_iformation is a fun which find the following things 
   1.count of each_user_type.
   2.count of each_gender_type.
   3.Most common year.
"""
def user_information(name):
    count_of_each_user_Type=name['User Type'].value_counts()
    gender_counts=name['Gender'].value_counts()
    most_common_year=name['Birth Year'].value_counts().idxmax()
    print('\n count_of_each_user_Type is :',count_of_each_user_Type)
    print('\n gender_counts is :',  gender_counts)
    print('\n most_common_year is :',int(most_common_year))

In [ ]:
"""This block is the main body of code from here we call the other function to  perform specific 
   functionality.city_data is a dictionary which contain dataset of 3 town"""
while True:
    CITY_DATA={'chicago':'chicago.csv','new york':'new_york_city.csv','washington':'washington.csv'}
    cities=['chicago','new york','washington']
    months=['january','february','march','april','may','june','august','september','october','november','december']
    days=['sunday','monday','tuesday','wednesday','thrusday','friday','saturday','sunday']
    city,month,day=filtering_the_data()
    name=load_data(city,month,day)
    popular_times_of_travel(name)
    popular_station_trip(name)
    trip_duration(name)
    user_information(name)
    z=input(print('enter yes to end the program:'))
    z=z.lower()
    if(z=='yes'):
        break

which city data you want out of chicago new york or washington

Nonenew york
enter the month name

Noneaugust
enter the day of the week

Nonesunday
press yes if you want to see the first 5 rows of your dataset
Noneyes

 First 5 lines of your dataset is

   Unnamed: 0          Start Time             End Time  Trip Duration  \
0     5688089 2017-06-11 14:55:05  2017-06-11 15:08:21            795
1     4096714 2017-05-11 15:30:11  2017-05-11 15:41:43            692
2     2173887 2017-03-29 13:26:26  2017-03-29 13:48:31           1325
3     3945638 2017-05-08 19:47:18  2017-05-08 19:59:01            703
4     6208972 2017-06-21 07:49:16  2017-06-21 07:54:46            329

             Start Station             End Station   User Type  Gender  \
0  Suffolk St & Stanton St  W Broadway & Spring St  Subscriber    Male
1  Lexington Ave & E 63 St         1 Ave & E 78 St  Subscriber    Male
2        1 Pl & Clinton St    Henry St & Degraw St  Subscriber    Male
3    Barrow St & Hudson St         W 20 St & 8 Ave  Subscriber  Female
4          1 Ave & E 44 St         E 53 St & 3 Ave  Subscriber    Male

   Birth Year  month  hour        day
0      1998.0      6    14     Sunday
1      1981.0      5    15   Thursday
2      1987.0      3    13  Wednesday
3      1986.0      5    19     Monday
4      1992.0      6     7  Wednesday
press yes if you want to see the first 5 rows of your dataset
Noneyes

 First 5 lines of your dataset is

   Unnamed: 0          Start Time             End Time  Trip Duration  \
0     5688089 2017-06-11 14:55:05  2017-06-11 15:08:21            795
1     4096714 2017-05-11 15:30:11  2017-05-11 15:41:43            692
2     2173887 2017-03-29 13:26:26  2017-03-29 13:48:31           1325
3     3945638 2017-05-08 19:47:18  2017-05-08 19:59:01            703
4     6208972 2017-06-21 07:49:16  2017-06-21 07:54:46            329
5     1285652 2017-02-22 18:55:24  2017-02-22 19:12:03            998
6     1675753 2017-03-06 16:22:53  2017-03-06 16:30:51            478
7     1692245 2017-03-07 07:42:24  2017-03-07 08:49:42           4038
8     2271331 2017-04-02 08:02:36  2017-04-02 09:28:08           5132
9     1558339 2017-03-01 23:01:31  2017-03-01 23:06:41            309

             Start Station                     End Station   User Type  \
0  Suffolk St & Stanton St          W Broadway & Spring St  Subscriber
1  Lexington Ave & E 63 St                 1 Ave & E 78 St  Subscriber
2        1 Pl & Clinton St            Henry St & Degraw St  Subscriber
3    Barrow St & Hudson St                 W 20 St & 8 Ave  Subscriber
4          1 Ave & E 44 St                 E 53 St & 3 Ave  Subscriber
5      State St & Smith St             Bond St & Fulton St  Subscriber
6       Front St & Gold St  Lafayette Ave & Fort Greene Pl  Subscriber
7       E 89 St & York Ave           Broadway & Battery Pl  Subscriber
8   Central Park S & 6 Ave          Central Park S & 6 Ave    Customer
9           E 3 St & 1 Ave                 E 25 St & 2 Ave  Subscriber

   Gender  Birth Year  month  hour        day
0    Male      1998.0      6    14     Sunday
1    Male      1981.0      5    15   Thursday
2    Male      1987.0      3    13  Wednesday
3  Female      1986.0      5    19     Monday
4    Male      1992.0      6     7  Wednesday
5    Male      1986.0      2    18  Wednesday
6    Male      1982.0      3    16     Monday
7    Male      1984.0      3     7    Tuesday
8     NaN         NaN      4     8     Sunday
9    Male      1992.0      3    23  Wednesday
press yes if you want to see the first 5 rows of your dataset
Noneno

 The most common month: 4

 The most day of the week: Sunday

 The most common hour: 14

most_common_start_station is : West St & Chambers St

 most_common_end_station is : Central Park S & 6 Ave

 total_travel_time is : 39477079

 avg_travel_time is : 1092.0051727476418

 count_of_each_user_Type is : Subscriber    28409
Customer       7590
Name: User Type, dtype: int64

 gender_counts is : Male      20657
Female     8412
Name: Gender, dtype: int64

 most_common_year is : 1989
enter yes to end the program: